In [73]:
import erddapy
import pandas as pd
from datetime import datetime

# Define the ERDDAP server URL and dataset
server_url = 'https://data.pmel.noaa.gov/socat/erddap/'

e = erddapy.ERDDAP(server=server_url)
e.protocol = "tabledap"
e.repsonse="csv"
e.dataset_id = "socat_v2025_fulldata"

In [74]:
e.variables = [
    "expocode",
    "time",
    "Temperature_equi",
    "temp"
]

In [75]:
e.constraints = {
    "Temperature_equi>=" : -10000,
    "temp>=" : -10000,
#    "expocode=" : "58SC19990213"
#    "time>=":"2022-01-01T00:00:00Z"
    "socat_version=~":"(2025.0N|2025.0U)"
}

In [76]:
df=e.to_pandas()

,expocode,time (UTC),Temperature_equi (degrees C),temp (degrees C)
0,06AQ20200101,2020-01-20T06:50:45Z,-0.66,-1.67700
1,06AQ20200101,2020-01-20T06:51:48Z,-0.66,-1.67300
2,06AQ20200101,2020-01-20T06:52:51Z,-0.66,-1.67500
3,06AQ20200101,2020-01-20T06:53:54Z,-0.66,-1.68000
4,06AQ20200101,2020-01-20T06:54:57Z,-0.66,-1.68100
...,...,...,...,...
3297287,WFCH20240528,2024-06-10T18:17:20Z,9.78,9.25915
3297288,WFCH20240528,2024-06-10T18:19:53Z,9.63,9.08510
3297289,WFCH20240528,2024-06-10T18:22:25Z,9.58,9.06138
3297290,WFCH20240528,2024-06-10T18:24:57Z,9.72,9.14284
3297291,WFCH20240528,2024-06-10T18:27:50Z,9.68,9.14584

In [77]:
df[(df["Temperature_equi (degrees C)"] - df["temp (degrees C)"]) > 5].to_csv('dt_plus_5.csv', index=False)
print(len(df))

3297292

In [66]:
##comparison_results = df["Temperature_equi (degrees C)"] - df["temp (degrees C)"]

In [67]:
#df['dt_check_5'] = (df["Temperature_equi (degrees C)"] - df["temp (degrees C)"]) > 5
#df_check_5_count = df['dt_check_5'].sum()

In [68]:
#is_over_5 = (df["Temperature_equi (degrees C)"] - df["temp (degrees C)"]) > 5
#true_rows = df[is_over_5]
#print(true_rows)

             expocode            time (UTC)  Temperature_equi (degrees C)  \
2471129  33HH20240425  2024-04-25T23:00:39Z                         12.41
2789481  33RR20221202  2023-01-04T01:38:16Z                          4.46
2789497  33RR20221202  2023-01-04T02:16:33Z                          4.45
2789503  33RR20221202  2023-01-04T02:30:47Z                          4.45
2789511  33RR20221202  2023-01-04T02:50:06Z                          4.38
...               ...                   ...                           ...
7945728  WFCH20240108  2024-01-27T13:21:30Z                          7.62
7945730  WFCH20240108  2024-01-27T13:26:37Z                          8.96
7945731  WFCH20240108  2024-01-27T13:29:10Z                         12.23
7945732  WFCH20240108  2024-01-27T13:31:43Z                         14.74
7945733  WFCH20240108  2024-01-27T13:34:36Z                         11.05

         temp (degrees C)
2471129          7.251300
2789481         -0.623000
2789497         -0.562000
2789503         -0.594000
2789511         -0.636000
...                   ...
7945728          2.518600
7945730          2.867690
7945731          1.220590
7945732          0.763963
7945733          0.019161

[455 rows x 4 columns]

             expocode            time (UTC)  Temperature_equi (degrees C)  \
2471129  33HH20240425  2024-04-25T23:00:39Z                         12.41
2789481  33RR20221202  2023-01-04T01:38:16Z                          4.46
2789497  33RR20221202  2023-01-04T02:16:33Z                          4.45
2789503  33RR20221202  2023-01-04T02:30:47Z                          4.45
2789511  33RR20221202  2023-01-04T02:50:06Z                          4.38
...               ...                   ...                           ...
7945728  WFCH20240108  2024-01-27T13:21:30Z                          7.62
7945730  WFCH20240108  2024-01-27T13:26:37Z                          8.96
7945731  WFCH20240108  2024-01-27T13:29:10Z                         12.23
7945732  WFCH20240108  2024-01-27T13:31:43Z                         14.74
7945733  WFCH20240108  2024-01-27T13:34:36Z                         11.05

         temp (degrees C)
2471129          7.251300
2789481         -0.623000
2789497         -0.562000
2789503         -0.594000
2789511         -0.636000
...                   ...
7945728          2.518600
7945730          2.867690
7945731          1.220590
7945732          0.763963
7945733          0.019161

[455 rows x 4 columns]

In [70]:
df[(df["Temperature_equi (degrees C)"] - df["temp (degrees C)"]) > 5].to_csv('dt_plus_5.csv', index=False)

In [ ]:
for expocode in (expocodes):
    for datasetID in (socat_dataset_ids):
        e.constraints = { "expocode=": expocode}
        e.dataset_id = datasetID
        url = e.get_download_url(response="csv")

        try:
            df = pd.read_csv(url)
            print ("Expocode ", expocode, " exists in ", datasetID)
        except:
            pass
            #print ("Expocode ", expocode, " NOT in ", datasetID)

In [ ]:
#for datasetID in (socat_dataset_ids):
#    e.dataset_id = datasetID
#    for expocode in (expocodes):
#        e.constraints = { "expocode=": expocode}
#        url = e.get_download_url(response="csv")
#        try:
#            df = pd.read_csv(url)
#            print ("Expocode ", expocode, " exists in ", datasetID)
#        except:
#            print ("Expocode ", expocode, " not in ", datasetID)