In [1]:
import pandas as pd
import numpy as np
import datetime
from erddapy import ERDDAP

In [2]:
e = ERDDAP(server="https://data.pmel.noaa.gov/socat/erddap")

In [3]:
e.protocol="tabledap"

In [4]:
e.dataset_id="socat_v2024_fulldata"

In [46]:
e.constraints = {

    "organization=~":"(Flanders Marine Inst|\
OMEX|\
Univ Liege|\
Bio Sta Roscoff|\
CNRS|\
IUEM|\
LOCEAN|\
OOV France|\
Univ Pierre Marie Curie|\
Fabrice AMEDEO|\
Alfred Wegener Inst|\
GEOMAR|\
GEOMAR : Univ Bergen|\
GEOMAR : Univ Bergen : Dalhousie Univ|\
Hamburg Univ|\
Leibniz Institute for Baltic Sea Research Warnemuende (IOW)|\
Leibniz IOW|\
Leibniz-Institute for Baltic Sea research Warnemuende|\
Max Planck Inst|\
Univ Kiel|\
Hellenic Centre Marine Res|\
MFRI Iceland|\
Irish Marine Inst.|\
Univ Ireland|\
NIOZ|\
NIOZ : Alfred Wegener Inst|\
NIOZ : Univ Liege|\
Bjerknes Centre Clim Res|\
Bjerknes Centre Clim Res : Alfred Wegener Inst|\
NORCE|\
NORCE, GEOMAR, UiB|\
Norwegian Polar Inst|\
NPI, IMR, NPI|\
Univ Bergen|\
University of Bergen|\
Bjerknes Centre Clim Res : NIOZ|\
CCMAR|\
CSIC Spain|\
IIM-CSIC|\
Univ Las Palmas|\
Uppsala Univ|\
NOC UK|\
CEFAS UK|\
Plymouth Marine Lab|\
Plymouth Marine Lab : Univ Exeter|\
Univ East Anglia|\
Univ East Anglia : Alfred Wegener Inst|\
Univ Exeter|\
Bermuda Inst Ocean Sci|\
Bermuda Institute of Ocean Sciences|\
BIOS)", 

}

In [47]:
e.variables = [
    "fCO2_recommended",
    "region_id",
]

In [48]:
url=e.get_download_url(response="csv")

In [49]:
print (url)

https://data.pmel.noaa.gov/socat/erddap/tabledap/socat_v2024_fulldata.csv?fCO2_recommended,region_id&organization=~"(Flanders Marine Inst|OMEX|Univ Liege|Bio Sta Roscoff|CNRS|IUEM|LOCEAN|OOV France|Univ Pierre Marie Curie|Fabrice AMEDEO|Alfred Wegener Inst|GEOMAR|GEOMAR : Univ Bergen|GEOMAR : Univ Bergen : Dalhousie Univ|Hamburg Univ|Leibniz Institute for Baltic Sea Research Warnemuende (IOW)|Leibniz IOW|Leibniz-Institute for Baltic Sea research Warnemuende|Max Planck Inst|Univ Kiel|Hellenic Centre Marine Res|MFRI Iceland|Irish Marine Inst.|Univ Ireland|NIOZ|NIOZ : Alfred Wegener Inst|NIOZ : Univ Liege|Bjerknes Centre Clim Res|Bjerknes Centre Clim Res : Alfred Wegener Inst|NORCE|NORCE, GEOMAR, UiB|Norwegian Polar Inst|NPI, IMR, NPI|Univ Bergen|University of Bergen|Bjerknes Centre Clim Res : NIOZ|CCMAR|CSIC Spain|IIM-CSIC|Univ Las Palmas|Uppsala Univ|NOC UK|CEFAS UK|Plymouth Marine Lab|Plymouth Marine Lab : Univ Exeter|Univ East Anglia|Univ East Anglia : Alfred Wegener Inst|Univ Exeter|Bermuda Inst Ocean Sci|Bermuda Institute of Ocean Sciences|BIOS)"

In [50]:
df = e.to_pandas()

In [51]:
df.count()

fCO2_recommended (uatm)    14613683
region_id                  18817664
dtype: int64

In [52]:
fco2 = df.dropna(subset=['fCO2_recommended (uatm)'])

In [53]:
fco2.count()

fCO2_recommended (uatm)    14613683
region_id                  14613683
dtype: int64

In [54]:
fco2.head(100)

    fCO2_recommended (uatm) region_id
0                477.196384         C
1                476.790538         C
2                476.381725         C
3                475.718646         C
4                475.464066         C
..                      ...       ...
95               450.473734         C
96               450.259789         C
97               450.149876         C
98               449.851783         C
99               449.440016         C

[100 rows x 2 columns]

In [55]:
fco2.tail(100)

          fCO2_recommended (uatm) region_id
18817566               301.894152         C
18817567               300.111372         C
18817568               302.163561         C
18817569               242.642996         C
18817570               284.407413         C
...                           ...       ...
18817661               359.948361         C
18817662               352.654761         C
18817663               360.206347         C
18817664               358.455262         C
18817665               381.207315         C

[100 rows x 2 columns]

In [56]:
print(df.groupby('region_id').size())

region_id
A    3908980
C    9862200
I      99395
N       1692
O    1464372
R    1284176
T     117579
Z    2079270
dtype: int64