In [30]:
import pandas as pd
import numpy as np
import datetime
from erddapy import ERDDAP

In [31]:
e = ERDDAP(server="https://data.pmel.noaa.gov/socat/erddap")

In [32]:
e.protocol="tabledap"

In [33]:
e.dataset_id="socat_v2024_fulldata"

In [34]:
e.constraints = {

    "organization=~":"(NOAA PMEL : Univ Southern Mississippi|PMEL| \
CSIRO : NOAA PMEL|\
LDEO Columbia Univ : NOAA ESRL CIRES|\
LDEO Columbia Univ : NOAA ESRL CIRES : IAAR Univ Colorado|\
NOAA AOML|\
NOAA ESRL CIRES : LDEO Columbia Univ : IAAR Univ Colorado|\
NOAA PMEL|\
NOAA PMEL : Bermuda Inst Ocean Sci|\
NOAA PMEL : Irish Marine Inst.|\
NOAA PMEL : KIOST|\
NOAA PMEL : MFRI Iceland|\
NOAA PMEL : NOAA AONL : NOAA AOML|\
NOAA PMEL : Scripps Inst Ocean|\
NOAA PMEL : Univ Alaska|\
NOAA PMEL : Univ Delaware|\
NOAA PMEL : Univ Hawaii|\
NOAA PMEL : Univ New Hampshire|\
NOAA PMEL : Univ Puerto Rico|\
NOAA PMEL : Univ Southern Mississippi|\
NOAA PMEL : Univ Wash|\
NOAA PMEL : University of Georgia : University of Delaware|\
PMEL|\
RSMAS Univ Miami|\
RSMAS Univ Miami : NOAA AOML|\
Scripps Inst Ocean|\
LDEO Columbia Univ|\
Princeton Univ|\
Univ Alaska : NOAA PMEL|\
Univ Hawaii|\
Woods Hole Ocean Inst)", 

}

In [35]:
e.variables = [
    "fCO2_recommended",
    "region_id",
]

In [36]:
url=e.get_download_url(response="csv")

In [37]:
print (url)

https://data.pmel.noaa.gov/socat/erddap/tabledap/socat_v2024_fulldata.csv?fCO2_recommended,region_id&organization=~"(NOAA PMEL : Univ Southern Mississippi|PMEL| CSIRO : NOAA PMEL|LDEO Columbia Univ : NOAA ESRL CIRES|LDEO Columbia Univ : NOAA ESRL CIRES : IAAR Univ Colorado|NOAA AOML|NOAA ESRL CIRES : LDEO Columbia Univ : IAAR Univ Colorado|NOAA PMEL|NOAA PMEL : Bermuda Inst Ocean Sci|NOAA PMEL : Irish Marine Inst.|NOAA PMEL : KIOST|NOAA PMEL : MFRI Iceland|NOAA PMEL : NOAA AONL : NOAA AOML|NOAA PMEL : Scripps Inst Ocean|NOAA PMEL : Univ Alaska|NOAA PMEL : Univ Delaware|NOAA PMEL : Univ Hawaii|NOAA PMEL : Univ New Hampshire|NOAA PMEL : Univ Puerto Rico|NOAA PMEL : Univ Southern Mississippi|NOAA PMEL : Univ Wash|NOAA PMEL : University of Georgia : University of Delaware|PMEL|RSMAS Univ Miami|RSMAS Univ Miami : NOAA AOML|Scripps Inst Ocean|LDEO Columbia Univ|Princeton Univ|Univ Alaska : NOAA PMEL|Univ Hawaii|Woods Hole Ocean Inst)"

In [38]:
df = e.to_pandas()

In [39]:
df.count()

fCO2_recommended (uatm)    12586684
region_id                  13378770
dtype: int64

In [11]:
fco2 = df.dropna(subset=['fCO2_recommended (uatm)'])

In [12]:
fco2.count()

fCO2_recommended (uatm)    47755546
region_id                  47755546
dtype: int64

In [13]:
fco2.head(100)

    fCO2_recommended (uatm) region_id
0                477.196384         C
1                476.790538         C
2                476.381725         C
3                475.718646         C
4                475.464066         C
..                      ...       ...
95               450.473734         C
96               450.259789         C
97               450.149876         C
98               449.851783         C
99               449.440016         C

[100 rows x 2 columns]

In [14]:
fco2.tail(100)

          fCO2_recommended (uatm) region_id
55477733               301.894152         C
55477734               300.111372         C
55477735               302.163561         C
55477736               242.642996         C
55477737               284.407413         C
...                           ...       ...
55477828               359.948361         C
55477829               352.654761         C
55477830               360.206347         C
55477831               358.455262         C
55477832               381.207315         C

[100 rows x 2 columns]

In [15]:
print(df.groupby('region_id').size())

region_id
A     4903691
C    28909653
I      416963
N     1511114
O     9970037
R     2706107
T     4436769
Z     2623497
dtype: int64