In [24]:
import erddapy
import pandas as pd
from datetime import datetime
import requests
import json


# Define the ERDDAP server URL and dataset
server_url = 'http://localhost:8080/erddap/'
#server_url ='https://sour.pmel.noaa.gov:8776/erddap/'
dataset_id = 'DBCP_moored_meta_edited'

# Create a connection to the ERDDAP server
e = erddapy.ERDDAP(server=server_url)

#Set the dataset ID for the query
e.dataset_id = dataset_id

In [25]:
#grab reporting as UNKNOWN platforms

idURL1 = server_url + "tabledap/DBCP_moored_meta_edited.csv?WMOn"
print (idURL1)
df = pd.read_csv(idURL1)

http://localhost:8080/erddap/tabledap/DBCP_moored_meta_edited.csv?WMOn

In [26]:
df

      WMOn
0  3100004
1  3100005

In [28]:
for mooring in df['WMOn']:
    print (mooring)

3100004
3100005